body {
  font-family: gill sans,'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: #f2f2f2;
}

html{
	scroll-behavior: smooth;
}
.background{
	position: relative;
	border: none;
	left: -1%;
	top: -2%;
	width: 102%;
	z-index: -10;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}c

.back{
	position: relative;
	top: -2vh;
}

.title{
	position: relative;
	text-align: right;
	top: -35vh;
	padding-right: 5vw;
}

h1{
	font-weight: 400;
	font-size: 8vh;
	letter-spacing: 0.5vh;
}
h2{
	position: relative;
	top: -2vh;
	font-weight: 300;
	font-size: 3vh;	
}
p{
	font-weight: 300;
	font-size: 2.5vh;
	margin-top: 1vh;
}
.link{
	font-weight: 300;
	font-size: 2.5vh;
	color: #5f8096;
}
span{
	padding-left: 2vh;
	padding-right: 2vh;
	margin-left: 2vh;
	margin-right: 2vh;
}

.para{
	position: relative;
	margin-top: -6vh;
	margin-bottom: 3vh;
}
.about{
	font-size: 3.2vh;
	color: #415b75;
}
.sub{
	position: sticky;
	top: 0;
	margin-top: -22vh;
	margin-left: -1vw;
	text-align: center;
	font-size: 3vh;
	font-weight: 400;
	color: #5c5c5c;
	padding-top:1vh;
	padding-bottom:3vh;
	background: rgb(242,242,242);
	background: linear-gradient(0deg, rgba(242,242,242,0) 0%, rgba(242,242,242,1) 30%, rgba(242,242,242,1) 100%);
	z-index: 5;
	width: 102vw;
}
.subtitle{
	font-size: 3vh;	
	font-weight: 400;
	margin-left: -2vh;

}
.subtitle1{
	font-size: 3vh;	
	font-weight: 600;
	margin-bottom: 5vh;
	margin-left: -5vh;
}
.subtitle2{
	font-size: 2.5vh;	
	font-weight: 400;
	margin-bottom: 0.5vh;
}
.section{
	padding-top: 10vh;
	padding-left: 10vw; 
	padding-right: 10vw;
	padding-bottom: 14vh;
}
.section1{
	padding-left: 10vw; 
	padding-right: 10vw;
	padding-bottom: 14vh;
	padding-top: 10vh;
	width: 60vw;
}
.section2{
	padding-left: 10vw; 
	padding-right: 10vw;
	padding-bottom: 14vh;
	background-color: white;
}
.section5{
	padding-top: 10vh;
	padding-left: 10vw; 
	padding-right: 10vw;
	padding-bottom: 14vh;
	background-color: #6b747d;
	width: 102vw;
	margin-left: -1vw;
	margin-bottom: -1.5vh;
	color: #f2f2f2;
}
.img{
	width: 50vw;
}
.img2{
	width: 30vw;
}
.row{
	display: flex;
	justify-content: space-between;
}
.row_m{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.row_u{
	display: flex;
	justify-content: space-between;
	margin-top: 10vh;
}

.strip{
	width: 102vw;
	margin-left: -11vw;
	margin-bottom: 5vh;
}
.test{
	background-color: #97afbf;
}
.list_m{
	margin-left: 5vh;
	line-height: 4vh;
}
.logo{
	position: relative;
	margin-right: -15vw;
	width: 10%;
	height: 10%
}
.use{
	margin-top: 5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo2{
	width: 20%;
}
.video{
	display: flex;
	justify-content: center;
	margin-bottom: 3vh;
}
.video_1{
	display: flex;
	justify-content: center;
	margin-bottom: 10vh;
	z-index: 10;
}

.code{
	margin-top: 2vh;

}

.code a {
all: initial;
font-family: monospace;
}

.code span {
all: initial;
font-family: monospace;
}

.gist {
   max-width:50vw;
   overflow:auto;
}

.gist .blob-wrapper.data {
   max-height:50vh;
   overflow:auto;
}

.menu:hover{
	color: black;
}

.menu {
  position: relative;
  cursor: pointer;
}

.menu:before, .menu:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: black;
}

.menu:before {
  left: -2.5px;
}
.menu:after {
  right: 2.5px;
  background: black;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu:hover:before {
  background: black;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

}
.menu:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

